.button {
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  color: #fff;
  background-color: #2ec4b6;
  border: none;
  font-size: 0.9rem;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
}

.btn-trans {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-size: 0.9rem;
}

.btn-form {
  margin-top: 20px;
}

.btn-filter {
  margin: 0 10px;
  border: none;
  cursor: pointer;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  font-size: 1rem;
  background-color: $green;
  color: #fff;
  cursor: pointer;
  &-inverse {
    background-color: $white;
    color: $green;
    height: 30px;
    border: none;
    cursor: pointer;
  }

  &.active {
    border-bottom: 2px solid #292929;
  }
}

.btn-wrapper {
  margin-top: 60px;
  .btn-filter-inverse {
    color: #292929;
    font-size: 1.2rem;
  }
}
