header {
  nav {
    // position: fixed;
    // background-color: #fafafa;
    //
    // left: 0;
    // right: 0;
    // top: 0;
    ul {
      padding: 0;
      padding: 15px 0;
      max-width: 800px;
      margin: 0 auto;
    }
    li {
      display: inline-block;
    }
  }
}

header a {
  color: #292929;
  margin-right: 10px;
  font-size: 1rem;
}
