header {
  padding: 10px 0;
}

header a {
  color: #292929;
  margin-right: 10px;
  font-size: 1rem;
}

table {
  margin-top: 50px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

th {
  padding: 0 30px;
}

h1 {
  margin-bottom: 60px;
  font-size: 3rem;
  margin-top: 60px;
}

input {
  margin: 0 10px;
  margin-bottom: 0;
  padding: 5px 12px;
  line-height: 25px;
  font-size: 0.9rem;
  vertical-align: middle;
  border: 1px solid #ccc;
}

input:focus,
input:active {
  outline: none;
  border: 2px solid #2ec4b6;
}

.button {
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  color: #fff;
  background-color: #2ec4b6;
  border: none;
  font-size: 0.9rem;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
}

h4 {
  margin: 10px;
  text-align: center;
}

.error {
  color: #d61f1f;
}

.container {
  padding: 0 30px;
  margin: 0 auto;
  padding-bottom: 100px;
}

@media (min-width: 820px) {
  .container {
    max-width: 800px;
  }

  .flex {
    display: flex;
  }
}

.sessionCard {
  border: 0.5px solid #ccc;
  margin: 40px auto 0;
  padding: 20px;
}

.sessionCard p span {
  font-weight: 700;
}

.sessionCard .button {
  margin-top: 40px;
}

.textarea {
  display: block;
  width: 100%;
  resize: none;
  height: 100px;
  margin-top: 20px;
  border: 0.5px solid #ccc;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1rem;
}
.textarea:hover,
.textarea:focus {
  border: 0.5px solid #2ec4b6;
  outline: #2ec4b6 0.5px solid;
}

.m-l-0 {
  margin-left: 0 !important;
}

.filter {
  width: 100%;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 10px 20px;
}

.pull-right {
  float: right;
}

.btn-form {
  margin-top: 20px;
}
